body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #e0f3ff, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
}

.top-title-bar {
    width: 100%;
    max-width: 600px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 3px solid #124073;
    z-index: 100;
}

.top-title-bar .text {
    font-size: 20px;
    font-weight: 700;
    color: #124073;
}

#map {
    width: 100%;
    max-width: 600px;
    height: calc(100vh - 55px - 80px);
    margin: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 50;
}

.bottom-icons {
    position: fixed;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
    height: 55px;
    z-index: 100;
}

.bottom-icons a.icon-link {
    color: #bbb;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

.bottom-icons a.icon-link i {
    font-size: 24px;
    margin-bottom: 3px;
}

.bottom-icons a.icon-link span {
    font-size: 14px;
    color: #555;
    font-weight: 600;
}

.bottom-icons a.active i {
    color: #4fb0ff;
}

.bottom-icons a.active span {
    color: #4fb0ff;
}

@media (max-width: 600px) {
    .top-title-bar, .bottom-icons, #map {
        max-width: 100%;
        left: 0;
        transform: none;
    }
}

@media (max-width: 450px) {
    .top-title-bar {
        height: 50px;
    }

    #map {
        height: calc(100vh - 50px - 70px);
    }

    .bottom-icons {
        height: 70px;
    }
}