<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 메인페이지</title>
    <link rel="stylesheet" th:href="@{/css/adminmain.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<header>
    <a th:href="@{/adminprofile}" class="profile-link-avatar">
        <div class="profile-img"></div>
    </a>
    <h1 th:text="|관리자 ${userName}님, 환영합니다!|">관리자님, 환영합니다!</h1>
</header>

<main>
    <div class="menu-grid-2x2">

        <a th:href="@{/jobadd}" class="menu-button grid-item">
            <img th:src="@{/images/newjob.png}" alt="일자리 등록"/>
            <span>일자리 등록</span>
        </a>

        <a th:href="@{/jobmanage}" class="menu-button grid-item">
            <img th:src="@{/images/research.png}" alt="등록 일자리 관리"/>
            <span>일자리 관리</span>
        </a>

        <a th:href="@{/faqmanage}" class="menu-button grid-item">
            <img th:src="@{/images/faq.png}" alt="FAQ 관리"/>
            <span>FAQ 관리</span>
        </a>

        <a th:href="@{/qnamanage}" class="menu-button grid-item">
            <img th:src="@{/images/qna.png}" alt="QnA 관리"/>
            <span>QnA 관리</span>
        </a>

    </div>
</main>

<div class="bottom-icons">
    <a th:href="@{/adminprofile}" class="icon-link">
        <i class="fa-solid fa-user"></i>
        <span>프로필</span>
    </a>
    <a th:href="@{/adminmain}" class="icon-link active">
        <i class="fa-solid fa-house"></i>
        <span>메인</span>
    </a>
    <a th:href="@{/mapAdmin}" class="icon-link">
        <i class="fa-solid fa-map"></i>
        <span>지도</span>
    </a>
</div>
</body>
</html>