<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일자리 등록</title>
    <link rel="stylesheet" th:href="@{/css/jobadd.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>

<header class="fixed-header">
    <h1 class="header-title">일자리 등록</h1>
</header>

<main>
    <form method="post" enctype="multipart/form-data" action="/api/job/register" class="job-form">
        <div class="form-group">
            <label for="jobTitle">업무명</label>
            <input type="text" id="jobTitle" name="jobTitle" placeholder="업무명을 입력하세요" class="form-input" required>
        </div>

        <div class="form-group">
            <label for="location">지역</label>
            <input type="text" id="location" name="location" placeholder="지역을 입력하세요" class="form-input" required>
        </div>

        <div class="form-group">
            <label for="salary">월급</label>
            <input type="text" id="salary" name="salary" placeholder="월급을 입력하세요" class="form-input" required>
        </div>

        <div class="form-group">
            <label for="companyName">업체명</label>
            <input type="text" id="companyName" name="companyName" placeholder="업체명을 입력하세요" class="form-input" required>
        </div>

        <div class="form-group">
            <label for="companyContact">업체 연락처</label>
            <input type="text" id="companyContact" name="companyContact" placeholder="업체 연락처를 입력하세요" class="form-input"
                   required>
        </div>

        <button type="submit" class="submit-button">등록하기</button>
    </form>
</main>

<div class="bottom-icons">
    <a th:href="@{/adminprofile}" class="icon-link">
        <i class="fa-solid fa-user"></i>
        <span>프로필</span>
    </a>
    <a th:href="@{/adminmain}" class="icon-link active">
        <i class="fa-solid fa-house"></i>
        <span>메인</span>
    </a>
    <a th:href="@{/mapAdmin}" class="icon-link">
        <i class="fa-solid fa-map"></i>
        <span>지도</span>
    </a>
</div>
<script th:src="@{/js/jobadd.js}"></script>
</body>
</html>