<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 지도 - 일자리 위치 관리</title>

    <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" th:href="@{/css/globals.css}"/>
    <link rel="stylesheet" th:href="@{/css/mapAdmin.css}"/>
</head>
<body>

<header class="mobile-header">
    <a th:href="@{/adminmain}" class="back-btn"><i class="fa-solid fa-chevron-left"></i></a>
    <span class="text">일자리 위치 관리</span>
</header>

<div class="split-layout">
    <div class="map-section">
        <div id="map"></div>
    </div>

    <main class="list-section">
        <div class="list-header">
            <h2>주변 일자리 위치</h2>
            <p>리스트에 있는 공고를 클릭해 일자리의 위치를 알아보세요.</p>
        </div>

        <div class="info-box">
            <div class="info-item">
                <i class="fa-solid fa-circle-info"></i> 리스트를 클릭하면 지도 위치로 이동합니다.
            </div>
        </div>

        <div id="job-list-box"></div>
    </main>
</div>

<div class="bottom-icons">
    <a th:href="@{/profile}" class="icon-link">
        <i class="fa-solid fa-user"></i>
        <span>프로필</span>
    </a>
    <a th:href="@{/main}" class="icon-link">
        <i class="fa-solid fa-house"></i>
        <span>메인</span>
    </a>
    <a th:href="@{/map}" class="icon-link active">
        <i class="fa-solid fa-map"></i>
        <span>일자리 지도</span>
    </a>
</div>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a54b9ee8fe4d9a9b2ba99d007d423f0b&autoload=false&libraries=clusterer"></script>
<script th:src="@{/js/utils/AjaxUtils.js}"></script>
<script th:src="@{/js/globals.js}"></script>
<script th:src="@{/js/mapAdmin.js}"></script>
</body>
</html>