<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지도페이지</title>
    <link rel="stylesheet" th:href="@{/css/map.css}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
</head>
<body>
<div class="top-title-bar">
    <span class="text">지도</span>
</div>

<div id="map"></div>

<div class="bottom-icons">
    <a th:href="@{/adminprofile}" class="icon-link">
        <i class="fa-solid fa-user"></i>
        <span>프로필</span>
    </a>
    <a th:href="@{/adminmain}" class="icon-link">
        <i class="fa-solid fa-house"></i>
        <span>메인</span>
    </a>
    <a th:href="@{/adminmap}" class="icon-link active">
        <i class="fa-solid fa-map"></i>
        <span>지도</span>
    </a>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a54b9ee8fe4d9a9b2ba99d007d423f0b"></script>
<script>
    var container = document.getElementById('map');
    // 목원대 D관 위치 설정
    var options = {
        center: new kakao.maps.LatLng(36.32183, 127.3386),
        level: 3
    };
    var map = new kakao.maps.Map(container, options);
</script>
</body>
</html>